.red_text{
	color: red;
}
.txt_right{
	float: right;
	margin-right: 30%;
}
.btm_text{
	font-size: 12px;
}
.file_up{
	display: inline-block;
}

.btnCodeImg{
	display: none;
}

.btnCode:hover .btnCodeImg{
	display: block;
}
.btnCode:hover .btnCodeSpan{
	display: none;
}
input[type=file],.editorD,.tpl-form-line-form select{
	display: none !important;
}
